[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = CH
ST = ZJ
L = HZ
O = ALC
OU = JVM
CN = SECURITY

[v3_req]
basicConstraints = CA:TRUE
subjectAltName = @alt_names


[alt_names]
DNS.1 = localhost
